{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Edit Item's - Side Lake Cafe</title>
        <!-- bootsrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- jquery -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <!-- CSS -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <!-- button -->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        


    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- navbar Brand -->
            <a class="navbar-brand ps-3" href="{% url 'stock-index' %}">
                <!-- Sidebar toggle -->
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                    <i class="fas fa-bars"></i>
                </button>
            </a>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 ">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
             <!-- Navbar-->
             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <a class="nav-link" role="button" aria-expanded="false"> Barista <i class="fas fa-user fa-fw"></i></a>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" aria-label="">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">
                                <img src="{% static 'assets/img/Picture1.png' %}" alt="png">
                                <br><br>
                                <br>
                                <h5 class="nameCafe">
                                    Side Lake Cafe
                                </h5>
                            </div>
                            <a class="nav-link" href="{% url 'stock-update' %}">
                                <div class="sb-nav-link-icon"></i></div>
                                Stock Update
                            </a>
                            <a class="nav-link" href="{% url 'stock-log' %}">
                                <div class="sb-nav-link-icon"></i></div>
                                Stock Log
                            </a>
                        </div>
                        
                    </div>
                    <div class="buttonLogout justify-content-lg-center d-flex m-3 p-4">
                        <button type="button" class="btn btn-danger">Logout</button>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Barista
                    </div>
                </nav>
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <!-- isi form -->
                    <div class="container">
                        <div class="container-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="text-start mt-3 p-lg-2">
                                        <a href="javascript:window.history.back();" style="color: black; text-decoration: none; font-size: large;"> <i class="fa-solid fa-arrow-left"></i> &nbspBack </a>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col">
                                                <h1>Edit Item's</h1>
                                            </div>
                                            <div class="col-md-15">
                                                <form action="{% url 'stock-edit' stock_id=data.stock_id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-floating mb-3 mt-3">
                                                        <input name="stock_id" type="text" class="form-control"  id="floatingKode" value="{{ data.stock_id }}" disabled>
                                                        <label for="floatingKode">Kode Barang</label>
                                                    </div>
                                                    <div class="form-floating mb-3 mt-3">
                                                      <input name="nama" type="text" class="form-control" id="floatingNama" value="{{ data.nama }}">
                                                      <label for="floatingNama" >Name Barang</label>
                                                    </div>
                                                    <div class="form-floating mb-3 mt-3">
                                                      <input name="jumlah" type="number" class="form-control" id="floatingStock" min="0" value="{{ data.jumlah }}">
                                                      <label for="floatingStock" >Stock Tersedia(pcs)</label>
                                                    </div>
                                                    <div class="form-floating mb-3 mt-3">
                                                        <select name="satuan" class="form-select" id="floatingSelect" aria-label="Default select example">
                                                            <option selected>Pilih satuan</option>
                                                            <option {% if data.satuan == 'KG' %}selected{% endif %} value="KG">KG</option>
                                                            <option {% if data.satuan == 'BOX' %}selected{% endif %} value="BOX">BOX</option>
                                                          </select>
                                                        <label for="floatingSelect">Satuan</label>
                                                        
                                                    </div>
                                                    <div class="mb-3 form-floating">
                                                        <input type="date" class="form-control" id="floatingDate" name="date" value="{{ data.expired }}">
                                                        <label for="floatingDate">Expired</label>
                                                    </div>
                                                    <div class="text-end">
                                                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i>&nbsp; Save</button>
                                                    </div>
                                                  </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="{% static 'js/date.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>